@using Blog.Models.ViewModels.Posts
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model PostViewModel
@{
    ViewData["Page"] = "post";
    ViewData["Title"] = $"Blog - {Model.Title}";
    ViewData["BackgroundImage"] = "'../images/post-bg.jpg'";
    ViewData["Header"] = Model.Title;
    ViewData["PostSubHeader"] = Model.Subtitle;
    ViewData["PostMeta"] = $"Posted by John Doe on {Model.CreateDate}";
}

@Model.Content

<br />
<br />
@if (SignInManager.IsSignedIn(User))
{
    <a class="btn btn-primary text-uppercase" asp-action="Edit" asp-route-postId="@Model.PostId">Edit</a>
    <button class="btn btn-danger text-uppercase" id="submitButton" data-toggle="modal" data-target="#deleteModal" data-controller="Posts" data-primarykey="postId" data-contenttype="blog post" data-id="@Model.PostId">
        Delete
    </button>
    <partial name="_DeleteModal" />    
}
