@model HomeViewModel
@{
    ViewData["Page"] = "site";
    ViewData["Title"] = "Home Page";
    ViewData["BackgroundImage"] = "'images/home-bg.jpg'";
    ViewData["Header"] = "Clean Blog";
    ViewData["SubHeader"] = "A Blog Theme by Start Bootstrap";
}

@foreach(var post in Model.Posts)
{
    <!-- Post preview-->
    <div class="post-preview">
        <a asp-controller="Posts" asp-action="Detail" asp-route-postId="@post.PostId">
            <h2 class="post-title">@post.Title</h2>
            <h3 class="post-subtitle">@post.Subtitle</h3>
        </a>
        <p class="post-meta">
            Posted by
            <a href="#!">John Doe</a>
            on @post.CreateDate
        </p>
    </div>
    <!-- Divider-->
    <hr class="my-4" />
}
<!-- Pager-->
<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
