@{
    ViewData["Title"] = "Home Page";
    ViewData["BackgroundImage"] = "'images/home-bg.jpg'";
    ViewData["Header"] = "Clean Blog";
    ViewData["SubHeader"] = "A Blog Theme by Start Bootstrap";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
